Repository User-4675/Java-Process-Compliance-Engine: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, test, conformance_check

build:
  stage: build
  script:
  - mvn -DskipTests package
  artifacts:
    paths:
    - target/*.jar

test:
  stage: test
  needs:
  - build
  script:
  - mvn test
  artifacts:
    when: always
    paths:
    - target/surefire-reports/

conformance_check:
  stage: conformance
  needs:
  - build
  script:
  - echo "Changed CSV files:"
  - git diff --name-only HEAD~1 HEAD -- "event_log/*.csv" > changed_files.txt
  - cat changed_files.txt
  - if [ ! -s changed_files.txt ]; then echo "No CSV changes detected."; exit 0; fi
  ...

t
  .gitlab-ci.yml
  event_log/testDatabase.csv
Due: conformance_check

t
  .gitlab-ci.yml
Due: none

t
  event_log/testDatabase.csv
Due: conformance_check

yml
  .gitlab-ci.yml
  event_log/testDatabase.csv
  src/main/java/nl/rug/ap/a1/userInterface/Configuration.java
Due: build, test, conformance_check

140 checkstyle fixed
  .idea/misc.xml
  checkstyle/suppressions.xml
  pom.xml
  reports/testDatabase-ThreeWayBefore_report.csv
  reports/testDatabase-TwoWay_report.csv
  reports/testDatabase_report.csv
  src/main/java/nl/rug/ap/a1/cases/Event.java
  src/main/java/nl/rug/ap/a1/cases/Trace.java
  src/main/java/nl/rug/ap/a1/observer/ProgressTracker.java
  src/main/java/nl/rug/ap/a1/reportHandle/ReportGenerator.java
  src/main/java/nl/rug/ap/a1/resourceParsing/DataLoader.java
  src/main/java/nl/rug/ap/a1/strategy/ComplianceStrategy.java
  src/main/java/nl/rug/ap/a1/strategy/ConsignmentCheck.java
  src/main/java/nl/rug/ap/a1/strategy/ThreeWayAfterGR.java
  src/main/java/nl/rug/ap/a1/strategy/ThreeWayBeforeGR.java
Due: build, test

yml
  event_log/testDatabase.csv
  reports/testDatabase_report.csv
  src/test/java/nl/rug/ap/a1/ConfigurationTest.java
Due: build, test, conformance_check

yaml update
  .gitlab-ci.yml
Due: none

Update CI pipeline
  .gitlab-ci.yml
Due: none

yml
  .gitlab-ci.yml
  event_log/testDatabase.csv
Due: conformance_check

checkstyle done
  .idea/compiler.xml
  checkstyle/suppressions.xml
  src/main/java/nl/rug/ap/a1/Main.java
  src/main/java/nl/rug/ap/a1/observable/ComplianceApp.java
  src/main/java/nl/rug/ap/a1/resourceParsing/DataLoader.java
  src/main/java/nl/rug/ap/a1/strategy/ComplianceManager.java
  src/main/java/nl/rug/ap/a1/strategy/ConsignmentCheck.java
  src/main/java/nl/rug/ap/a1/strategy/GeneralRulesCheck.java
  src/main/java/nl/rug/ap/a1/strategy/ThreeWayAfterGR.java
  src/main/java/nl/rug/ap/a1/strategy/ThreeWayBeforeGR.java
  src/main/java/nl/rug/ap/a1/strategy/TwoWayMatch.java
  src/main/java/nl/rug/ap/a1/userInterface/Configuration.java
  src/main/java/nl/rug/ap/a1/userInterface/ConsoleColor.java
Due: build, test

Checkstyle test and confirmence test
  .gitlab-ci.yml
  event_log/testDatabase-ThreeWayBefore.csv
  event_log/testDatabase-TwoWay.csv
  reports/testDatabase-ThreeWayBefore_report.csv
  reports/testDatabase-TwoWay_report.csv
  reports/testDatabase_report.csv
  src/main/java/nl/rug/ap/a1/strategy/ComplianceManager.java
Due: build, test, conformance_check

checkstyle fail trial
  src/main/java/nl/rug/ap/a1/observable/ComplianceApp.java
Due: build, test

works
  src/main/java/nl/rug/ap/a1/observable/ComplianceApp.java
Due: build, test

Report
  REPORT-A2-5972132.md
Due: none

New report system
  .gitlab-ci.yml
  REPORT-A2-5972132.md
  event_log/testDatabase.csv
  src/main/java/nl/rug/ap/a1/Main.java
  src/main/java/nl/rug/ap/a1/observable/ComplianceApp.java
  src/main/java/nl/rug/ap/a1/observer/ProgressTracker.java
  src/main/java/nl/rug/ap/a1/reportHandle/ReportGenerator.java
  src/main/java/nl/rug/ap/a1/strategy/ComplianceManager.java
Due: build, test, conformance_check

Final test + report
  README-A2.md
  event_log/testDatabase-ThreeWayBefore.csv
  event_log/testDatabase-TwoWay.csv
  event_log/testDatabase.csv
Due: conformance_check

test
  src/main/java/nl/rug/ap/a1/Main.java
Due: build, test

Final Test on Actuall dtabase
  .gitlab-ci.yml
  event_log/testDatabase.csv
  src/main/java/nl/rug/ap/a1/Main.java
  src/main/java/nl/rug/ap/a1/strategy/ThreeWayBeforeGR.java
Due: build, test, conformance_check

t
  REPORT-A2-5866413.md
  event_log/BPI_Challenge_2019_t.csv
  src/main/java/nl/rug/ap/a1/strategy/ThreeWayBeforeGR.java
Due: build, test, conformance_check

Report changes
  REPORT-A2-5866413.md
  event_log/BPI_Challenge_2019_t.csv
  event_log/testDatabase.csv
Due: conformance_check

yaml + report
  .gitlab-ci.yml
  REPORT-A2-5625343.md
Due: none

t
  .gitlab-ci.yml
  event_log/testDatabase-ThreeWayAfter.csv
  src/main/java/nl/rug/ap/a1/Main.java
Due: build, test, conformance_check

Final version
  Diagram.pdf
Due: none

Final Version - Assignemnt 2
  event_log/testDatabase-ThreeWayAfter.csv
  src/main/java/nl/rug/ap/a1/Main.java
Due: build, test, conformance_check

Final Version - Assignment 2
  .gitlab-ci.yml
Due: none

Final Version - Assignment 2
  REPORT-A2-5625343.md
Due: none

Tracking Large CSV file
  changed_files.txt
  event_log/testDatabase.csv
Due: conformance_check

Final README changes
  .gitignore
  README-A1.md
  README-A2.md
  README.md
  REPORT-A1-5625343.md
  REPORT-A1-5866413.md
  REPORT-A1-5972132.md
  REPORT-A2-5625343.md
  REPORT-A2-5866413.md
  REPORT-A2-5972132.md
  event_log/BPI_Challenge_2019_lite.csv
  pom.xml
Due: build, test, conformance_check

Path conditions:
  build: any of: pom.xml, src/**/*
  test: any of: pom.xml, src/**/*
  conformance_check: any of: event_log/*.csv
